* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: yellowgreen; */
    background-image: url('assets/gray-brick-wall-texture.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    margin-top: 50px;
    color: white;
    background-color: black;
}

section {
    margin-top: 50px;
    color: white;
    background-color: black;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-top: 100px;

    & img {
        width: 30%;
        border: white solid 10px;
    }
}

