* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: yellowgreen;
}

header {
    margin-top: 50px;
}

section {
    margin-top: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-top: 100px;

    & img {
        width: 30%;
        border: black dotted 10px;
    }
}

